body {
    font-family: sans-serif;
}

button {
    margin: 8px;
}

.timer {
    display: inline;
}

#content {
    text-align: center;
}

.start-screen p {
    margin: auto;
    width: 50%;
}

.question-screen button {
    display: block;
    margin: 10px auto;
}