@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --blue: #3e9cbf;
    --green: #57c94c; 
    --salmon: #f26d50;
    --orange: #f17c37;
}

body {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}

/* Interface styles */

button {
    margin: 8px;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    color: white;
    background: var(--blue);
    border: none;
    border-radius: 4px;
    outline: none;
}
button:hover {
    background: var(--orange);
}
button:active {
    background: var(--salmon);
}

input {
    padding: 10px;
    font-size: 13px;
    font-family: 'Varela Round', sans-serif;
}

/* Top bar styles */

.top {
    border-bottom: grey solid 1px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.timer {
    display: inline;
    text-align: center;
    margin-right: 8px;
}

.timer span {
    display: block;
}

.times-low {
    color: var(--salmon);
}

#timer {
    font-size: 24px;
}

/* Style for main content div */

#content {
    text-align: center;
    width: 50%;
    margin: 15% auto 0 auto;
}

/* Question styles */

.question-screen button {
    display: block;
    margin: 10px auto;
    width: 100%;
}

.right-text {
    color: var(--green);
}

.wrong-text {
    color: var(--salmon);
}

/* High Score Table Styles */

.high-score-table {
    border-top: black solid 1px;
}

.table-object {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

/* Media Queries */

@media only screen and (max-width: 660px) {
    #content {
        width: 90%;
    }
}